In [1]:
import pandas

In [11]:
dataset = pandas.read_csv("memes.csv", names = ['meme_id', 'data_id', 'ratings', 'meme_template_name', 'date_of_creation'])

In [12]:
dataset.head()

,meme_id,data_id,ratings,meme_template_name,date_of_creation
0,353mvs,189966232,2,Emma Watson Troll,2011-9-3
1,353mw1,189966241,3,Emma Watson Troll,2011-9-3
2,353mw5,189966245,445,The Most Interesting Man In The World,2011-9-3
3,353mxa,189966286,39,Irrational Shaggy,2011-9-3
4,353my8,189966320,1383,Redditors Wife,2011-9-3

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178801 entries, 0 to 178800
Data columns (total 5 columns):
meme_id               178801 non-null object
data_id               178801 non-null int64
ratings               178801 non-null int64
meme_template_name    178801 non-null object
date_of_creation      178801 non-null object
dtypes: int64(2), object(3)
memory usage: 6.8+ MB

In [15]:
dataset['url'] = 'http://i.qkme.me/' + dataset['meme_id'] + '.jpg'

In [16]:
dataset.head()

,meme_id,data_id,ratings,meme_template_name,date_of_creation,url
0,353mvs,189966232,2,Emma Watson Troll,2011-9-3,http://i.qkme.me/353mvs.jpg
1,353mw1,189966241,3,Emma Watson Troll,2011-9-3,http://i.qkme.me/353mw1.jpg
2,353mw5,189966245,445,The Most Interesting Man In The World,2011-9-3,http://i.qkme.me/353mw5.jpg
3,353mxa,189966286,39,Irrational Shaggy,2011-9-3,http://i.qkme.me/353mxa.jpg
4,353my8,189966320,1383,Redditors Wife,2011-9-3,http://i.qkme.me/353my8.jpg

In [17]:
dataset.to_csv("data_with_url.csv", encoding='utf-8', index=False)

In [18]:
url = dataset['url']

In [19]:
url.head()

0    http://i.qkme.me/353mvs.jpg
1    http://i.qkme.me/353mw1.jpg
2    http://i.qkme.me/353mw5.jpg
3    http://i.qkme.me/353mxa.jpg
4    http://i.qkme.me/353my8.jpg
Name: url, dtype: object

In [21]:
url.to_csv("url.csv", encoding='utf-8', index=False)

c:\users\aiman fatima\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.